body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    color: black;
}

#ChangePasswordMap,
#loginApp {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

#navbar {
    background-color: #4C7742;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #36532d;
    border-radius: 5px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #2e4424;
}

#main-content {
    display: flex;
    flex-grow: 1;
    background-color: #E5E5E5;
}

#main-content,
#mapid,
#details {
    background-color: #F0F0F0;
    color: black;
}

#mapid {
    flex-grow: 2;
    background-color: #FAFAFA;
}

#details {
    flex-basis: 300px;
    background-color: #F0F0F0;
    padding: 20px;
    overflow-y: auto;
    border-left: 2px solid #DDD;
}

#filters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow-x: auto;
    background-color: #DDD;
    color: black;
}

#filters label {
    margin-right: 5px;
    white-space: nowrap;
}

#filters .input-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#filters input[type="datetime-local"],
#filters input[type="checkbox"] {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9rem;
    background-color: #FFF;
}

#filters button {
    background-color: #4C7742;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

#filters button:hover {
    background-color: #36532d;
}

#filters,
.v-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
}

input[type="text"] {
    padding: 5px;
    margin: 5px;
    width: calc(50% - 20px);
    border: 1px solid #999;
    border-radius: 5px;
}

.custom-div-icon {
    text-align: center;
    line-height: 30px;
}


select,
input[type="checkbox"] {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 5px;
}

.modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.modal-content input[type="text"],
.modal-content input[type="password"],
.modal-content button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 8px;
}

.modal-content button {
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4C7742;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.button-style {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #36532d;
    border-radius: 5px;
}

.button-style:hover {
    background-color: #2e4424;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

footer {
    background-color: #4C7742;
    color: white;
    text-align: left;
    padding: 10px;
}

.error {
    color: #D8000C;
    background-color: #FFD2D2;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #D8000C;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 0.75rem 1.25rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

@media (max-width: 768px) {
    #filters {
        justify-content: center;
    }

    #filters .input-group {
        justify-content: flex-start;
    }
}

@media (max-width: 600px) {
    #main-content {
        flex-direction: column;
    }

    #mapid,
    #details {
        flex-basis: auto;
        width: 100%;
    }

    #filters,
    .v-container {
        flex-direction: column;
        padding: 5px;
    }
}

@media (max-width: 768px) {
    #main-content {
        flex-direction: column-reverse;
    }

    #mapid {
        flex-grow: 1;
        order: 2;
    }

    #details {
        flex-basis: 25%;
        order: 1;
        padding: 10px;
    }
}

@media (max-width: 600px) {

    #filters,
    .v-container {
        padding: 5px;
        flex-direction: column;
    }

    .v-container .v-select,
    .v-container .v-switch {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    #details {
        flex-basis: auto;
        width: 100%;
        padding: 10px;
    }

    #details h3 {
        font-size: 1rem;
    }

    #details p {
        font-size: 0.8rem;
    }
}