.btn-filter-toggle {
    position: absolute;
    z-index: 1050;
    bottom: 2rem;
    right: 2rem;
    background-color: #fff;
    color: #333;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.details-panel,
.filter-panel {
    position: absolute;
    top: 0;
    right: -300px;
    width: 300px;
    bottom: 0;
    background: #fff;
    transition: right 0.3s;
    overflow-y: auto;
    z-index: 1040;
    padding: 1rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
}

.details-panel.panel-active,
.filter-panel.panel-active {
    right: 0;
}

.details-panel {
    z-index: 1030;
}

.filter-panel {
    z-index: 1040;
}

.navbar {
    z-index: 1051;
}