body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    color: black;
}

#loginApp {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

#navbar {
    background-color: #4C7742;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

#navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #36532d;
    border-radius: 5px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #2e4424;
}

#main-content {
    display: flex;
    flex-grow: 1;
    background-color: #E5E5E5;
}

#main-content,
#mapid,
#details {
    background-color: #F0F0F0;
    color: black;
}

#mapid {
    flex-grow: 2;
    background-color: #FAFAFA;
}

#details {
    flex-basis: 300px;
    background-color: #F0F0F0;
    padding: 20px;
    overflow-y: auto;
    border-left: 2px solid #DDD;
}

#filters {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow-x: auto;
    background-color: #DDD;
    color: black;
}

#filters label {
    margin-right: 5px;
    white-space: nowrap;
}

#filters .input-group {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

#filters input[type="datetime-local"],
#filters input[type="checkbox"] {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9rem;
    background-color: #FFF;
}

#filters button {
    background-color: #4C7742;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

#filters button:hover {
    background-color: #36532d;
}

@media (max-width: 768px) {
    #filters {
        justify-content: center;
    }

    #filters .input-group {
        justify-content: flex-start;
    }
}

#filters,
.v-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    padding: 10px;
}

input[type="text"] {
    padding: 5px;
    margin: 5px;
    width: calc(50% - 20px);
    border: 1px solid #999;
    border-radius: 5px;
}

.custom-div-icon {
    text-align: center;
    line-height: 30px;
}


select,
input[type="checkbox"] {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #999;
    border-radius: 5px;
}

.modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.modal-content input[type="text"],
.modal-content input[type="password"],
.modal-content button {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 8px;
}

.modal-content button {
    cursor: pointer;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4C7742;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.button-style {
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #36532d;
    border-radius: 5px;
}

.button-style:hover {
    background-color: #2e4424;
}

input[type="text"],
input[type="password"] {
    box-sizing: border-box;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    height: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

footer {
    background-color: #4C7742;
    color: white;
    text-align: left;
    padding: 10px;
}

.v-row {
    display: flex !important;
    flex-wrap: nowrap !important;
    overflow-x: auto;
    margin: 0 !important;
}

.v-col {
    flex-grow: 0 !important;
    max-width: 100% !important;
    flex-basis: auto !important;
}

.v-select,
.v-combobox,
.v-switch {
    width: 100%;
    min-height: 28px !important;
    margin-bottom: 0 !important;
}

.v-input__control,
.v-input__slot {
    min-height: 28px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.v-select .v-select__slot,
.v-combobox .v-input__slot,
.v-switch .v-input__slot,
.v-text-field__slot,
.v-select__slot,
.v-input__slot {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.v-label {
    font-size: 0.75rem !important;
    line-height: 1 !important;
}

.v-chip {
    height: auto !important;
    font-size: 0.75rem !important;
}

.v-container {
    padding: 0 !important;
}

input,
select,
.v-btn {
    height: 28px !important;
    font-size: 0.875rem !important;
}

.v-input__border,
.v-input__icon {
    border-color: #ccc !important;
}

.v-col {
    flex-grow: 1;
    flex-basis: 50%;
    /* Elke kolom neemt maximaal 50% van de breedte in */
}

.v-switch {
    --v-theme-switch-track-background: #ddd;
    /* Achtergrondkleur van de track */
    --v-theme-switch-knob-color: #4C7742;
    /* Kleur van de knop */
    --v-theme-switch-knob-size: 22px;
    /* Grootte van de knop */
    --v-theme-switch-track-height: 14px;
    /* Hoogte van de track */
    --v-theme-switch-track-width: 40px;
    /* Breedte van de track */
}

@media (max-width: 768px) {
    .v-col {
        flex-basis: 100%;
        /* Op mobiele apparaten neemt elke kolom de volledige breedte in */
    }
}

.styled-button {
    height: 40px;
    /* Maak de knop hoger */
    color: #4C7742;
    /* Kleur van de lettertypes */
    border: 1px solid #4C7742;
    /* Randkleur */
}

.styled-combobox .v-input__control {
    border: 1px solid #4C7742;
    /* Randkleur voor combobox */
}

.styled-combobox .v-select__selections {
    color: #4C7742;
    /* Lettertypekleur voor geselecteerde items in combobox */
}

.styled-combobox .v-input__slot {
    height: 40px;
    /* Zorg ervoor dat de combobox dezelfde hoogte heeft als de knop */
}