{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>VespaWatch</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <link rel="stylesheet" href="{% static 'observations/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>

<body>
    <div id="app">
        {% include 'observations/navbar.html' %}
        <div id="main-content">
            <div id="mapid"></div>
            <div id="details">
                <h3>Observation Details</h3>
                {% verbatim %}
                <div v-if="selectedObservation">
                    <p><strong>ID:</strong> {{ selectedObservation.id }}</p>
                    <p><strong>Source:</strong> <input v-if="isEditing" v-model="selectedObservation.source"
                            type="text" /> <span v-else>{{ selectedObservation.source }}</span></p>
                    <p><strong>Validated:</strong> <input v-if="isEditing" v-model="selectedObservation.validated"
                            type="checkbox" /> <span v-else>{{ selectedObservation.validated }}</span></p>
                    <p><strong>Notes:</strong> <textarea v-if="isEditing"
                            v-model="selectedObservation.notes"></textarea> <span v-else>{{ selectedObservation.notes
                            }}</span></p>
                    <p><strong>Admin Notes:</strong> <textarea v-if="isEditing"
                            v-model="selectedObservation.admin_notes"></textarea> <span v-else>{{
                            selectedObservation.admin_notes }}</span></p>
                    <p><strong>Species:</strong> <input v-if="isEditing" v-model="selectedObservation.species"
                            type="number" /> <span v-else>{{ selectedObservation.species }}</span></p>
                    <p><strong>Activity:</strong> <input v-if="isEditing" v-model="selectedObservation.activity"
                            type="text" /> <span v-else>{{ selectedObservation.activity }}</span></p>
                    <p><strong>Attributes:</strong> <input v-if="isEditing" v-model="selectedObservation.attributes"
                            type="text" /> <span v-else>{{ selectedObservation.attributes | JSON }}</span></p>
                    <p><strong>Creation Datetime:</strong> <input v-if="isEditing"
                            v-model="selectedObservation.creation_datetime" type="datetime-local" /> <span v-else>{{
                            selectedObservation.creation_datetime }}</span></p>
                    <p><strong>Last Modification Datetime:</strong> <input v-if="isEditing"
                            v-model="selectedObservation.last_modification_datetime" type="datetime-local" /> <span
                            v-else>{{ selectedObservation.last_modification_datetime }}</span></p>


                    <button v-if="isLoggedIn && !isEditing" @click="startEdit">Aanpassen</button>
                    <button v-if="isLoggedIn && isEditing" @click="confirmUpdate">Bevestigen</button>
                    <button v-if="isLoggedIn && isEditing" @click="deleteObservation">Verwijderen</button>
                    <button v-if="isLoggedIn && isEditing" @click="cancelEdit">Annuleren</button>
                </div>
                {% endverbatim %}
                <div v-else>
                    <p>No observation selected</p>
                </div>
            </div>
        </div>
        <div id="filters">
            <div class="input-group">
                <label for="validated">Validated</label>
                <input type="checkbox" v-model="filters.validated" id="validated">
            </div>

            <div class="input-group">
                <span>Creation Date:</span>
                <label for="minCreationDatetime">From</label>
                <input type="datetime-local" v-model="filters.minCreationDatetime" id="minCreationDatetime">
                <label for="maxCreationDatetime">To</label>
                <input type="datetime-local" v-model="filters.maxCreationDatetime" id="maxCreationDatetime">
            </div>

            <div class="input-group">
                <span>Last Modification:</span>
                <label for="minLastModificationDatetime">From</label>
                <input type="datetime-local" v-model="filters.minLastModificationDatetime"
                    id="minLastModificationDatetime">
                <label for="maxLastModificationDatetime">To</label>
                <input type="datetime-local" v-model="filters.maxLastModificationDatetime"
                    id="maxLastModificationDatetime">
            </div>
            <div class="input-group">
                <button @click="applyFilters">Filter</button>
            </div>
        </div>
    </div>
    {% include 'observations/footer.html' %}
    <script src="{% static 'observations/js/map.js' %}"></script>
</body>

</html>