{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Wachtwoord Wijzigen - VespaWatch Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="changePasswordApp">
        {% include 'shared/navbar.html' %}
        <div class="modal-content" style="margin-top: 100px;">
            <h2>Wachtwoord Wijzigen</h2>
            <input type="password" v-model="oldPassword" placeholder="Oud Wachtwoord" />
            <input type="password" v-model="newPassword" placeholder="Nieuw Wachtwoord" />
            <input type="password" v-model="confirmNewPassword" placeholder="Bevestig Nieuw Wachtwoord" />
            <button @click="changePassword">Wijzig Wachtwoord</button>
        </div>
    </div>
    {% include 'shared/footer.html' %}
    <script src="{% static 'users/js/change_password.js' %}"></script>
</body>

</html>