{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>User Profile - VespaWatch Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div id="profileApp">
        {% include 'shared/navbar.html' %}
        <div class="modal-content" style="margin-top: 100px;">
            <h2>User Profile</h2>
            <div class="input-group">
                <label>Username:</label>
                <span>{{ username }}</span>
            </div>
            <div class="input-group">
                <label>Email:</label>
                <input type="email" v-model="userEmail" readonly>
            </div>
            <div class="input-group">
                <button @click="goToChangePasswordPage">Wachtwoord Veranderen</button>
            </div>
            <div class="input-group">
                <button @click="updateProfile">Profiel Bijwerken</button>
            </div>
        </div>
    </div>
    {% include 'shared/footer.html' %}
    <script src="{% static 'users/js/profile.js' %}"></script>
</body>

</html>