name: Build and Deploy Vue to GitHub Pages

on:
  push:
    branches:
      - main
      - uat

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: Dockerfile.frontend
          push: true
          tags: username/repository:latest
          build-args: |
            VITE_APP_API_URL=https://uat.db.vespawatch.be
          no-cache: true

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@4.0.0
        with:
          branch: gh-pages
          folder: frontend/dist
          clean: true
