name: Build and Deploy Vue to GitHub Pages

on:
  push:
    branches:
      - main
      - uat

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Set environment variable
        run: |
          if [ "${{ github.ref }}" == "refs/heads/main" ]; then
            echo "VITE_APP_API_URL=https://main.data.vespawatch.be" >> $GITHUB_ENV
          elif [ "${{ github.ref }}" == "refs/heads/uat" ]; then
            echo "VITE_APP_API_URL=https://uat.data.vespawatch.be" >> $GITHUB_ENV
          fi

      - name: Install dependencies and build Vue project
        run: |
          cd frontend
          npm install
          npm run build

      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4.6.1
        with:
          branch: gh-pages
          folder: frontend/dist
