name: Push to ghcr.io

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build_and_push_frontend:
    name: Build and push frontend
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Build Timestamp
        run: echo "BUILD_TIMESTAMP=$(date +'%Y-%m-%dT%H:%M:%S:%z')" >> $GITHUB_ENV
      - name: Log in to registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push frontend
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.frontend
          target: frontend-prod
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:frontend-latest
            ghcr.io/${{ github.repository }}:frontend-${{ github.head_ref || github.ref_name }}